@model List<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "Role Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="m-3">Users Manager</h1>

 

  <button class="btn btn-info" style="float:right">
      <a asp-page="/Account/Register" asp-area="Identity" style="text-decoration:none">
      Add New User </a> </button>

<table class="table table-hover m-2">
    <thead>
        <tr>
            <th>Id</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.UserName</td>
                  <td> @role.Email
                  </td>
                  <td>
                      @role.PhoneNumber
                  </td>
                <td>
                    <a asp-action="edituser" asp-controller="users" asp-route-id="@role.Id">edit user</a>
                </td>
              
            </tr>
        }
    </tbody>
</table>

